<!-- 侧边菜单 -->
<ion-side-menus ng-controller="sideMenuCtrl">
<!-- 中间内容 -->
<ion-side-menu-content>
    <ion-nav-bar class="bar-positive" align-title="center">
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-tabs class="tabs-icon-top tabs-positive">

        <!-- home Tab -->
        <ion-tab title="首页" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline"  href="#/tabs/home">
            <ion-nav-view name="tabs-home"></ion-nav-view>
        </ion-tab>

        <!-- about Tab -->
        <ion-tab title="关于" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline"  href="#/tabs/about"> 
            <ion-nav-view  name="tabs-about"></ion-nav-view>
        </ion-tab>

        <!-- setting Tab -->
        <ion-tab title="设置" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" href="#/tabs/setting">
            <ion-nav-view name="tabs-setting"></ion-nav-view>
        </ion-tab>
        

    </ion-tabs>

</ion-side-menu-content>

<!-- 左侧菜单 -->
<ion-side-menu side="right">
  <ion-header-bar class="bar-dark" align-title="center">
    <h3 class="title">设置</h3>
    <ion-button class="button-icon icon pull-right ion-gear-b"></ion-button>
  </ion-header-bar>
  <ion-content>
    <ion-list class="inset-list">
      <ion-item ng-repeat="item in items">{{item.text}}</ion-item>
    </ion-list>
  </ion-content>
</ion-side-menu>

</ion-side-menus>