<ion-view  view-title="设置">
  <ion-nav-buttons side="right">
      <button class="button icon button-clear ion-navicon-round" menu-toggle="right"></button>
  </ion-nav-buttons>
  <ion-scroll zooming="true" direction="xy" style="width: 100%; height: 100%">
      <ion-header-bar class="bar-dark">
        <h3 class="title">slideBox</h3>
      </ion-header-bar>
      <ion-slide-box does-continue="true" show-pager="true" auto-play="true" pager-click="go(index)">
            <ion-slide class="box blue balanced-bg">
              <div class="box assertive-bg">1</div>
            </ion-slide>
            <ion-slide class="box pink">
              <div class="box positive-bg">2</div>
            </ion-slide>
            <ion-slide class="box yellow">
              <div class="box balanced-bg">3</div>
            </ion-slide>
      </ion-slide-box>
       Hello!
       <button class="button button-calm" ng-click="showLoading()">加载中</button>
          <button class="button button-calm" ng-click="hideLoading()">加载结束</button>
          <a class="button icon icon-right ion-chevron-right" href="#/tabs/home">Home</a>
          <a class="button icon icon-right ion-chevron-right" href="#/tabs/about">about</a>
          <ion-checkbox ng-model="isChecked">Checkbox Label</ion-checkbox>
          <ion-checkbox ng-model="isChecked2" class="checkbox-calm">Checkbox Label2</ion-checkbox>
          <ion-checkbox ng-model="isChecked3">Checkbox Label3</ion-checkbox> 
          <ion-radio ng-model="choice" ng-value="'A'" class="positive">Choose A</ion-radio>
          <ion-radio ng-model="choice" ng-value="'B'">Choose B</ion-radio>
          <ion-radio ng-model="choice" ng-value="'C'">Choose C</ion-radio>
          <ion-toggle ng-model="airplaneMode" toggle-class="toggle-positive">Airplane Mode</ion-toggle>
          <ion-toggle ng-model="airplaneMode2" toggle-class="toggle-balanced">Airplane Mode2</ion-toggle>
  </ion-scroll>
</ion-view>