<ion-view view-title="关于">
  <ion-nav-buttons side="right">
      <button class="button icon button-clear ion-navicon-round" menu-toggle="right"></button>
  </ion-nav-buttons>
  <ion-content>
    <h2>content</h2>
    <button class="button button-positive" ng-click="showModal()">模态弹框</button>
    <button class="button button-balanced" ng-click="showActionSheet()">操作表</button>
    <a class="button icon icon-right ion-chevron-right" href="#/tabs/aboutContent">跳转到内容</a>
	   <a class="button icon icon-right ion-chevron-right" href="#/tabs/setting">setting</a>
  </ion-content>
</ion-view>