<ion-view view-title="列表">
  <ion-nav-bar class="bar-calm" align-title="center">
    <ion-nav-buttons side="left">
        <button class="button button-dark" ng-click="showEditBtn()">{{editText}}</button> 
    </ion-nav-buttons> 
  </ion-nav-bar>  
  <ion-content>
	<ion-refresher
          pulling-text="下拉刷新..." 
          refreshing-text="刷新成功" 
          on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list
          show-delete="shouldShowDelete"
          show-reorder="shouldShowReorder"
          can-swipe="true">
          <ion-item ng-repeat="item in items">
            <a class="list-a" ui-sref="tabs.listDetail({listId: item.id})"></a>
            {{item.title}}
            <ion-option-button class="button-calm"
                               ng-click="showConfirm(item)">
              对话框删除
            </ion-option-button>
            <ion-option-button class="button-assertive"
                               ng-click="removeItem(item)">
              删除
            </ion-option-button>
            <ion-delete-button class="ion-minus-circled"
                               ng-click="items.splice($index, 1)">
            </ion-delete-button>
            <ion-reorder-button class="ion-navicon"
                                on-reorder="reorderItem(item, $fromIndex, $toIndex)">
            </ion-reorder-button>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll
          on-infinite="loadMore()"
          immediate-check="false"
          distance="1%">
        </ion-infinite-scroll>
  </ion-content>
</ion-view>