
<ion-view view-title="个人中心">
  	<ion-content>
      <div class="icon-center mt20 mb20" ng-click="showActionSheet()"><i class="ion-ios-person calm"></i></div>
      <ion-list class="list">
        <a class="item item-icon-left" href="#/tabs/changePwd"><i class="button button-icon icon ion-ios-unlocked dark"></i>修改密码</a>
        <a class="item item-icon-left" href="#/tabs/changeProfile"><i class="button button-icon icon ion-ios-compose dark"></i>编辑资料</a>
      </ion-list>
      <a class="button button-full button-round-space button-stable" href="#/login">退出当前账号</a>
  	</ion-content>
</ion-view>
