
<ion-view  view-title="编辑资料">
    <ion-content>       
        <div class="icon-center mt20 mb20" ng-click="showActionSheet()"><i class="ion-ios-person calm"></i></div>
        <ion-list class="list card">
            <ion-item class="item-input">
                <input type="text"  name="name" placeholder="用户名" value="" data-empty="请输入用户名" />
            </ion-item>
            <ion-item class="item-input">
                <input type="text"  name="company" placeholder="公司名称" value="" data-empty="请输入公司名称" />
            </ion-item>
            <ion-item>
                <a href="#/tabs/user" class="button button-full button-calm button-round">提交保存</a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>