
<ion-view view-title="修改密码">
    <ion-content>
        <ion-list class="list card">
            <ion-item class="item-input">
                <input type="password" name="oldPassword" placeholder="请输入旧密码" value="" data-empty="请输入旧密码"  />
            </ion-item>
            <ion-item class="item-input">
                <input type="password" name="password" placeholder="请输入新密码" value="" data-empty="请输入新密码" />
            </ion-item>
            <ion-item class="item-input">
                <input type="password" name="confirmPwd" placeholder="请再次输入新密码" value="" data-empty="请再次输入新密码" />
            </ion-item>
            <ion-item>
            <a href="#/tabs/user" class="button button-full button-calm button-round">提交保存</a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
  
